<app-shared-header [toolbarTitle]="'Redstor FE Challenger'" [breadcrumbs]="breadcrumbs"></app-shared-header>

<div class="layout-container collection">
  <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>

  <div class="gallery" fxLayout="row wrap" fxLayoutGap="10px" fxLayout.xs="column">
    <ng-container *ngFor="let photo of photos$ | async">
      <mat-card class="gallery-item thumbnails" (click)="handleGotoPhoto(photo)">
        <img mat-card-image [src]="photo.urls.small" [alt]="photo.alt_description" />
        <mat-card-content fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <mat-icon>favorite</mat-icon>
          <span>{{ photo.likes }} likes</span>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>