<app-shared-header [toolbarTitle]="'Redstor FE Challenger'" [breadcrumbs]="breadcrumbs"
  [isLoading]="isLoading"></app-shared-header>

<div class="layout-container">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <div class="gallery" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" fxLayout.xs="column">
    <ng-container *ngIf="collections; else loading">
      <div *ngFor="let collection of collections">
        <mat-card class="gallery-item thumbnails" [routerLink]="['/collection', collection.id]">
          <img mat-card-image [src]="collection.cover_photo.urls.small" [alt]="collection.title" />
          <mat-card-content>
            <p class="title">{{ collection.title }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>

  </div>

  <ng-template #loading>
    <!-- Show a loading indicator when collections are being fetched -->
    <p>Loading collections...</p>
  </ng-template>
</div>