<!-- toDo Could you optimise this piece of code? -->
<mat-toolbar>
  Redstor FE Challenger
</mat-toolbar>

<!-- toDo Could you optimise this piece of code? -->
<div class="breadcrumbs">
  <a class="active">Collections</a>
</div>

<div class="layout-container">
  @if (isLoading) {
  <mat-progress-bar></mat-progress-bar>

  }
  <div class="gallery">

    @for (collection of collections; track collection.id) {
    <mat-card class="gallery-item thumbnails" [routerLink]="'/collection/' + collection.id">
      <img mat-card-image [src]="collection.cover_photo.urls.small" [alt]="collection.cover_photo.description" />
      <mat-card-content>
        <p class="title">{{ collection.title }}</p>
      </mat-card-content>
    </mat-card>

    }

    <div class="navigation">
      <button (click)="onPageChange(page - 1)" [disabled]="page === 1">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span>{{ page }}</span>
      <button (click)="onPageChange(page + 1)">
        <mat-icon>chevron_right</mat-icon>

      </button>
    </div>
  </div>
</div>