<mat-toolbar>
  <span i18n="@@toolbarTitle">Redstor FE Challenger</span>
</mat-toolbar>

<nav class="breadcrumbs" aria-label="breadcrumb">
  <span class="active" i18n="@@breadcrumbsCollections">Collections</span>
</nav>

<div class="layout-container">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <div class="gallery" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" fxLayout.xs="column">
    <ng-container *ngFor="let collection of collections">
      <mat-card class="gallery-item thumbnails" [routerLink]="['/collection', collection.id]">
        <img mat-card-image [src]="collection.cover_photo.urls.small" [alt]="collection.title" />
        <mat-card-content>
          <p class="title">{{ collection.title }}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>