.mat-app-background {
  background-color: #e3e3e3;
}

.gallery {
  max-width: 86vw;
  margin: 0 auto;
  padding: 12px;
  place-content: center;

  flex-wrap: wrap;
  display: flex;
  flex-direction: row;

  .gallery-item {
    margin: 12px;
    border-radius: 12px;
    background-color: #fafafa;
    cursor: pointer;

    &:hover {
      box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.14), 0 8px 8px 0 rgba(0, 0, 0, 0.12) !important;
      transform: translate3d(0, 0, 0);
      transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.photo-image {
  max-width: 100%;
  max-height: 600px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.photo-description {
  margin-bottom: 16px;
}

.stats-container {
  display: flex;
  align-items: center;
}

.stats-item {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.stats-item mat-icon {
  margin-right: 4px;
}

.photo-preview {
  mat-card-subtitle {
    display: flex;
    align-items: center;
    mat-icon {
      font-size: 20px;
    }
  }
}
