<app-navbar></app-navbar>

<div class="layout-container">
  <!-- toDo Could you optimise this piece of code? -->
  <mat-progress-bar *ngIf="isLoading$()"></mat-progress-bar>

  <div class="gallery" fxLayout.sm="column">
    <!-- toDO Could you improve the styling to be responsive? -->
    <mat-card *ngIf="photo$() as photo" class="preview">
      <!-- toDO Why is throwing some console errors? -->

      @if(photo?.user) {
        <mat-card-header>
          <img mat-card-avatar [src]="photo.user.profile_image.medium" />
          <mat-card-title style="margin-left: 1rem;">{{ photo.user.first_name }} {{ photo.user.last_name }}</mat-card-title>
          <mat-card-subtitle *ngIf="photo.user.location">
            <mat-icon inline>where_to_vote</mat-icon>
            {{ photo.user.location }}
          </mat-card-subtitle>
        </mat-card-header>
      }

      <mat-card-content>
        <div>
          <div>
            <!-- toDO Is there another way to do this operation? -->
            <p>{{ photo?.description?.charAt(0) | uppercase }}{{ photo?.description?.slice(1) }}</p>
          </div>
          @if(photo?.urls?.full) {
            <div class="image-position">
              <img class="image-dimension" mat-card-image [src]="photo.urls.full" [alt]="photo.alt_description" />
            </div>
          }
          <div class="image-position" style="padding-top: 1rem;">
            <p fxLayoutAlign="center">
              <mat-icon inline>favorite</mat-icon>
              {{ photo.likes }} likes &nbsp;|&nbsp;&nbsp;
              <mat-icon inline>visibility</mat-icon>
              {{ photo.views }} views
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

