<mat-toolbar>
  <span i18n="@@toolbarTitle">Redstor FE Challenger</span>
</mat-toolbar>

<nav class="breadcrumbs" aria-label="breadcrumb">
  <a routerLink="/" i18n="@@breadcrumbsCollections">Collections</a>
  <span aria-hidden="true">&gt;</span>
  <a (click)="handleGotoCollection()" i18n="@@breadcrumbsCollection">Collection</a>
  <span aria-hidden="true">&gt;</span>
  <span class="active" i18n="@@breadcrumbsPhoto">Photo</span>
</nav>

<div class="layout-container">
  <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>

  <div class="gallery" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
    <ng-container *ngIf="photo$ | async as photo">
      <mat-card class="photo-preview">
        <mat-card-header>
          <img mat-card-avatar [src]="photo.user.profile_image.medium" alt="{{ photo.user.name }}">
          <mat-card-title>{{ photo.user.name }}</mat-card-title>
          <mat-card-subtitle *ngIf="photo.user.location">
            <mat-icon>place</mat-icon>
            {{ photo.user.location }}
          </mat-card-subtitle>
        </mat-card-header>


        <mat-card-content>
          <p>{{ photo.description | titlecase }}</p>
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end center">
            <mat-icon>favorite</mat-icon>
            <span>{{ photo.likes }} likes</span>
            <mat-icon>visibility</mat-icon>
            <span>{{ photo.views }} views</span>
          </div>
        </mat-card-content>

        <img mat-card-image [src]="photo.urls.full" [alt]="photo.alt_description" />
      </mat-card>
    </ng-container>
  </div>
</div>